.panel.panel-default
  .panel-heading
    .page-header
      %h3 Editing dictionary

  .panel-body
    = render 'form'
    %a.btn.btn-default{href: dictionary_path(@dictionary)} Show
    %a.btn.btn-default{href: dictionaries_path} Back
