$(".dictionary_table").html('#{escape_javascript(render "dictionary_table", dictionaries: @dictionaries)}');
$('.paginator').html('#{escape_javascript(paginate(@dictionaries, :remote => true))}<br/> ');
$('.paginator').append('#{escape_javascript(page_entries_info @dictionaries)}');
