.panel.panel-default
  .panel-heading
    .page-header
      %h3 Listing dictionaries

  .panel-body
    / TODO: Need to add ajax-based pagination
    #dictionary-search.search
      %form#search.navbar-form.navbar.navbar-left{action: dictionaries_path, method: "get"}
        %input.form-control#searchText{name: "searchText", placeholder: "Search partial match on word/meaning", type: "text", size: 40, value: @searchText}
        %button.btn.btn-default{type: "submit"} Submit
      %a.btn.btn-primary.navbar-right{href: new_dictionary_path} New Dictionary

    %br
    .dictionary_table
      = render "/dictionaries/dictonary_table", dictionaries: @dictionaries
      %br
      .paginator
        = paginate @dictionaries, remote: true
        %br
        = page_entries_info @dictionaries
