%h1 Listing dictionaries

<!-- TODO: Need to add ajax-based pagination -->
#dictionary-search.search{style: "display: block;"}
  %form#search{action: "/dictionaries", method: "get"}
    %input#searchText{name: "searchText", type: "text", value: @searchText}
    %input#btnSearch{type: "submit", value: "Search"}
  .loader

%br

= link_to 'New Dictionary', new_dictionary_path

%br

<!-- TODO: Adding border till we get some proper css in place so as to distinguish columns during development -->

%span.dictionary_table_span
  = render "/dictionaries/dictonary_table", dictionaries: @dictionaries
  %br
  .paginator
    = paginate @dictionaries,remote: true
    %br
    = page_entries_info @dictionaries

