.panel.panel-default
  .panel-heading
    .page-header
      %h3 Show dictionary

  .panel-body
    %p#notice= notice

    .row
      %label.col-sm-2 Word
      = @dictionary.word

    .row
      %label.col-sm-2 Meaning
      = @dictionary.meaning

    %a.btn.btn-default{href: edit_dictionary_path(@dictionary)} Edit
    %a.btn.btn-default{href: dictionaries_path} Back
